/* ================================================= */
/* General styles */
/* ================================================= */

h1 {
	font-size: 4rem;
	line-height: .5;
	font-weight: 700;
	margin: 1rem 0;
	color: white;
	text-shadow: 3px 3px 0 red;
	text-align: center;
}

h2 {
	font-size: 1.33rem;
	line-height: .1;
	font-weight: 700;
	margin: 2rem 0;
	color: white;
	text-shadow: 3px 3px 0 red;
	text-align: center;
}

h2.light {
	font-weight: 400;
}

p {
	margin-top: 2rem;
	font-size: 18px;
	color: red;
}
.logo {
	height: 4rem;
	margin-bottom: -2rem;
	background-color: transparent;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.logo2 {
	height: 4rem;
	align-items: top;
	margin-top: 2rem;
	margin-bottom: 2rem;
	background-color: transparent;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.gif {
	height: 15rem;
	margin-top: -2rem;
	margin-bottom: -6rem;
}

.gif2 {
	height: 15rem;
	border-radius: 8px;
	background-color: white;
	padding: 1.5rem 1.5rem;
	margin-top: -1rem;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.subtitle {
	color: red;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 2rem;
}


/* ================================================= */
/* Buttons */
/* ================================================= */

.button {
	background-color: red;
	border-radius: 8px;
	padding: 1rem 2.666rem;
	color: white;
	line-height: .5;
	font-size: 1.5rem;
	font-weight: bold;
	width: 100%;
	white-space: nowrap;
	cursor: pointer;
	transition: all 0.7s ease-in-out;
	margin-bottom: -6rem;
	margin-top: 2rem;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.button:hover {
	background-color: white;
	color: red;
}

.button2 {
	background-color: red;
	border-radius: 8px;
	padding: 1rem 2.666rem;
	color: white;
	line-height: .5;
	font-size: 1.5rem;
	font-weight: bold;
	width: 100%;
	white-space: nowrap;
	cursor: pointer;
	transition: all 0.7s ease-in-out;
	margin-bottom: -5rem;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.button2:hover {
	background-color: white;
	color: red;
}

.button3 {
	background-color: red;
	border-radius: 8px;
	padding: 1rem 2.666rem;
	color: white;
	line-height: .5;
	font-size: 1.5rem;
	font-weight: bold;
	width: 100%;
	white-space: nowrap;
	cursor: pointer;
	transition: all 0.7s ease-in-out;
	margin-bottom: 1rem;
	margin-top: 0rem;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.button3:hover {
	background-color: white;
	color: red;
}


/* ================================================= */
/* Footer */
/* ================================================= */

#social-icons {
	list-style: none;
	display: inline-flex;
	align-items: center;
	gap: 1.333rem;
	padding: 0;
	margin-top: 3rem;
	margin-bottom: 1rem;
}

#social-icons svg {
	fill: white;
	transition: all 0.7s ease-in-out;
	display: block;
	background-color: red;
	width: 48px;
	height: 48px;
	border-radius: 40px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
	margin-right: -.5rem;
}

#social-icons a:hover svg {
	fill: red;
	background-color: white;
}

/* ================================================= */
/* NFT-STATS */
/* ================================================= */

#nft-stats {
	display:inline-block;
	align-items: center;
	text-decoration: none;
	margin-top: -4rem;
}

#nft-stats svg {
	fill: white;
	transition: all 0.7s ease-in-out;
	background-color: red;
	width: 100px;
	height: 24px;
	border-radius: 12px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
	text-decoration: none;
}

#nft-stats a:hover svg {
	fill: red;
	background-color: white;
}

/* ================================================= */
/* BRAINDUMP SECTION */
/* ================================================= */

.braindump-container {
	display: flex;
	flex-direction: column;
	max-width: 960px;
	margin: 0 auto;
	padding: 2rem 2rem;
}

.braindump {
	display: flex;
	flex-direction: column;
	max-width: 800px;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: white;
	margin: 2rem auto;
	padding: 1.5rem 1.5rem;
	border-radius: .5rem;
	border-color: transparent;
	max-height: 96%;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
  
.braindump h1 {
	color: red;
	text-shadow: 3px 3px 0 #00000020;
	font-weight: bold;
	margin-top: 2rem;
	font-size: 3rem;
	text-align: left;
}
  
.braindump h2 {
	color: red;
	text-shadow: 3px 3px 0 #00000020;
	font-style: bold;
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-size: 1.5rem;
	text-align: start;
}
  
.braindump p {
	font-size: 14px;
	font-family: VT323;
	font-style: bold;
	color: red;
	text-align: justify;
	margin-top: 1rem;
	margin-bottom: .5rem;
}
  
.braindump ul {
	font-size: 14px;
	font-family: VT323;
	font-style: bold;
	color: red;
	text-align: justify;
	margin-top: 1rem;
	margin-right: 2rem;
	align-items: center;
}

.braindump-logo {
	height: 3rem;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	background-color: transparent;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

#bd-social-icons {
	list-style: none;
	display: inline-flex;
	align-items: center;
	gap: 1.333rem;
	padding: 0;
}

#bd-social-icons svg {
	fill: white;
	transition: all 0.7s ease-in-out;
	display: block;
	background-color: red;
	width: 48px;
	height: 48px;
	border-radius: 40px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
	margin-right: -.5rem;
}

#bd-social-icons a:hover svg {
	fill: red;
	background-color: white;
}

.bd-button {
	background-color: red;
	border-radius: 8px;
	padding: 1rem 2.666rem;
	color: white;
	line-height: .5;
	font-size: 1.5rem;
	font-weight: bold;
	width: 100%;
	white-space: nowrap;
	cursor: pointer;
	transition: all 0.7s ease-in-out;
	margin-bottom: 2rem;
	margin-top: 2.5rem;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.bd-button:hover {
	background-color: white;
	color: red;
}


/* ================================================= */
/* Timer running and timer end */
/* ================================================= */

#timer-running,
#timer-end {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 64px;
	position: absolute;
	width: 100%;
	height: 100svh;
}

#timer-running.hidden {
	animation: fadeOut 1.6s forwards;
}

#timer-end {
	display: none;
	opacity: 0;
}

#timer-end.visible {
	display: flex;
	height: 100svh;
	justify-content: center;
	animation: fadeIn 1.6s forwards 1.6s;
}

#timer-end h1 {
	margin-top: 0;
}

#timer-end h2 {
	margin: 0;
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	to {
		opacity: 0;
	}
}


/* ================================================= */
/* Main content in Desktop Mode */
/* ================================================= */

#timer-running {
	text-align: center;
	align-items: center;
	height: 100svh;
}

#timer-container {
	background-color: white;
	padding: 2rem;
	margin-top: 3rem;
	list-style: none;
	border-radius: 8px;
	color: red;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	box-shadow:  0px 10px 10px rgba(0, 0, 0, 0.2);
}

#timer-container li:nth-child(odd) {
	min-width: 2.5rem;
}

#timer-container li:nth-child(even) {
	display: inline-block;
	font-size: 2.4rem;
	line-height: 1.3;
	font-weight: 300;
	padding-top: .4rem;
}

#timer-container span {
	font-size: 3.15rem;
	line-height: 1.4;
	display: block;
}

#timer-end.visible {
	align-items: center;
	text-align: center;
}

#timer-end button {
	width: auto;
}


/* ================================================= */
/* Main content in Mobile Mode */
/* ================================================= */

@media screen and (max-width: 768px) {

	#timer-running,
	#timer-end {
		height: 100svh;
	}
	
	#timer-container {
		gap: .2rem;
	}
	
	#timer-container li:nth-child(even) {
		padding-top: 5%;
	}

	.braindump {
		margin: 2rem 2rem;
	}

	.braindump ul {
		margin-right: .25rem;
	}

	#social-icons,
	#bd-social-icons {
		gap: .85rem;
		margin-right: .5rem;
	}
	
	.logo,
	.logo2 {
		margin-bottom: .1rem;
	}

	.gif{
		height: 10rem;
	}

	.gif2{
		height: 15rem;
	}

	h1,
	h2 {
		font-size: 3rem;
	}

}